* {
    box-sizing: border-box;
    font-family: Courier;
}

header {
    background-image: linear-gradient(to right, rgb(69, 144, 146), rgb(63, 63, 247));
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    height: 80px;
}

.topo h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
    color: white;
}

.topo div {
    font-size: 1.5em;
    color: rgb(105, 104, 104);
    text-align: center;
    background: rgb(252, 179, 45);
    position: absolute;
    top: 1px;
}

.busca {
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.busca input {
    border: none;
    border-bottom: 2px solid cadetblue;
    padding: 5px;
    width: 80%;
    font-size: 1.2em;
}

.busca button {
    border: 1px solid;
    border-radius: 50%;
    background: rgb(130, 178, 180);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.busca img {
    width: 20px;
    height: 20px;
    cursor: default;
}

.busca-img {
    cursor: pointer;
}

input[type="text"]:disabled {
    background: rgb(219, 218, 218);
}

button:disabled {
    background: rgb(206, 206, 206);
    cursor: default;
}

.busca input:focus {
    outline: 0;
}

.filtro, .estatisticas {
    border: none;
    box-shadow: 1px 1px 1px 1px grey;
    font-size: 2em;
    padding: 10px;
    margin: 5px;
}

.usuario {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    padding: 5px;
}

.usuario img {
    border-radius: 50%;
    margin-right: 20px;
}

.usuario span {
    margin-right: 5px;
}

.principal {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    color: rgb(29, 28, 28);
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.principal h2 {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 10px;
}

.filtro, .estatisticas {
    text-align: left;
    flex-basis: 1;
    height: 100%;
}

#lista-usuarios {
    font-size: 0.9em;
}

.estatisticas span {
    display: block;
    font-size: 0.6em;
}